.Book-clicked {
  font-size: 1rem;
  padding: 1.5rem;
  margin: 2rem auto 1rem;
  background-color: white;
  border: 1px solid var(--light-grey);
  box-shadow: -0.3rem 0.3rem var(--light-grey);
}

.Book-clicked p {
  margin-bottom: 0;
  line-height: 1.5;
}

.Book-clicked__img__wrapper {
  display: flex;
  justify-content: flex-start;
}

.Book-clicked__close-btn {
  position: absolute;
  display: initial;
  top: -1rem;
  right: -1rem;
  opacity: 0.7;
}

.Book-clicked__main-details {
  position: relative;
  width: 100%;
}

.Book-clicked__main-details > p > span,
.Book-clicked__more-details > p > span {
  color: black;
  background-color: var(--light-font);
}

.Book-clicked__main-details > p:last-child {
  margin-top: 0.7rem;
}

.Book-clicked__main-details > p:last-child > span {
  background-color: transparent;
}

.Book-clicked__img__wrapper {
  height: 10rem;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(220, 220, 220);
  margin-right: 2rem;
}

.Book-clicked__img__wrapper > img {
  height: 100%;
  width: auto;
}

.Book-clicked__more-details {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 660px) {
  .Book-clicked {
    position: absolute;
    top: 0;
    z-index: 2000;
    margin-top: 0;
  }
  .Book-clicked__img {
    height: 9rem;
  }
  .Book-clicked__more-details {
    margin-top: 1rem;
  }
}
